:root {
    --color-primary: #356DA5;
    --color-secondary: #BEE2F5;
    --color-section: #E1ECE6;
    --color-background: #ffffff;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    background: var(--color-background);
}

header {
    width: 100%;
    height: 82.5;
    background: var(--color-background);
    display: flex;
    justify-content: space-around;
}

.logo {
    color: var(--color-primary);
    font-family: Berkshire Swash;
    font-size: 40px;
    font-weight: 400;
    line-height: 50px;
    padding-top: 10px;
    text-align: center;
    margin: 5px;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

ul li {
    text-decoration: none;
    list-style: none;
    margin: 10px 5px 5px 10px;
}

ul li a {
    text-decoration: none;
}

.simulator {
    background: var(--color-section);
    min-width: 300px;
    min-height: 500px;
    max-width: 80%;
    margin: 0 10%;
    padding: 50px 50px;
}

.selector-save {

    display: flex;
    justify-content: space-between;
}

.slcSintoma {
    background-color: var(--color-background);
    border: 1px solid var(--color-secondary);
    border-radius: 5px;
    width: 250px;
    height: 50px;
    margin-right: 10px;
    /* margin: 50px 0 30px 10px; */
}

.button {
    background-color: #47525E;
    border-radius: 5px;
    width: 200px;
    height: 50px;
    /* margin: 50px 10px 30px 10px; */
}

.panel-results {
    background: var(--color-background);
    margin-top: 50px;
}

.option-panel {
    background: var(--color-background);
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    height: 100px;
}

.option-button {
    background: var(--color-secondary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.option-button h1 {
    color: #ffffff;
}

.panel-result {
    margin: 50px;
}

.panel-result p {
    margin: 20px;
}

.panel-result .map {
    background: var(--color-primary);
    height: 400px;
    margin: 20px;
}

/* Active button */
#btnActive {
    background: #ffffff;
}

#btnActive h1{
    color: var(--color-primary);
}