:root {
    --color-primary: #356DA5;
    --color-secondary: #BEE2F5;
    --color-section: #E1ECE6;
    --color-background: #ffffff;
}

.simulator {
    background: var(--color-section);
    min-height: 500px;
    max-width: 80%;
    margin: 0 10%;
    padding: 50px 50px;
}

.selector-save {
    display: flex;
    justify-content: space-between;
}

.slcSintoma {
    background-color: var(--color-background);
    border: 1px solid var(--color-secondary);
    border-radius: 5px;
    width: 250px;
    height: 50px;
    margin-right: 10px;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding: 13px 20px 13px 12px;
}

.button {
    background-color: var(--color-primary);
    color: #fff;
    border-radius: 5px;
    width: 200px;
    height: 50px;
}

.panel-results {
    background: var(--color-background);
    margin-top: 50px;
}

.option-panel {
    background: var(--color-background);
    display: flex;
    grid-template-columns: 20% 20% 20% 20% 20%;
    height: 100px;
}

.option-button {
    background: var(--color-secondary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.option-button h1 {
    color: #ffffff;
}

.panel-result {
    margin: 50px;
}

.panel-result p {
    margin: 20px;
}

.panel-results .map {
    height: 400px;
    margin: 20px;
}

/* Active button */
#btnActive {
    background: #ffffff;
}

#btnActive h1 {
    color: var(--color-primary);
}